* {
  color: #3893e8;
}

background {
  background-color: lavender;
}

a[href*="ucvts"] {
  font-style: italic
}

a[jref*="nephobiology"] {
  font-style: bold;
}

#onlyimage {
  max-width: 100%;
  height: auto;
}

a:hover {
  color: orangered;
}

h1, h4, h5 {
  font-family: 'Chakra Petch';
  text-decoration: underline;
}

p {
  font: arial;
  font-family: sans-serif;
}

p:first-of-type {
  font-style: oblique;
}

p:last-of-type {
  font-style: italic
}

body {
  font-weight: bold;
  font-size: 12pt
}

hr {
    border: none;
    border-top: 3px double deepskyblue;
    color: #004040;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    background: #ffffff;
    content: '☁';
    padding: 8px;
    position: relative;
    top: -13px;
}

img {
  border-radius: 10px;
}
