* {
  color: #9494ff;
}

background {
  background-color: lavender;
}

p {

}

body {
}

h1 {
  font-family: "Chakra Petch"
}

hr {
    border: none;
    border-top: 3px double deepskyblue;
    color: deepskyblue;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    background: #fff;
    content: '☁';
    padding: 8px;
    position: relative;
    top: -13px;
}

img {
  border-radius: 10px
}

@font-face {
  font-family: ("Exodus Sharpen")
  src: local("..problem-set-3.5/styles/fonts/Exodus Sharpen) format("opentype");
}
