background {
  background-color: dimgray;
}

p {

}

body {
}

h1 {
  font-family: "Exodus-Sharpened"
}

hr {
    border: none;
    border-top: 3px double deepskyblue;
    color: deepskyblue;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    background: #fff;
    content: '☁';
    padding: 8px;
    position: relative;
    top: -13px;
}

table, th, td {
  border: 5px double deepskyblue}

  .Green {
    color:lime
  }

  .lightGreen {
    color:greenyellow
  }

  .Yellow {
    color:yellow
  }

  .Orange {
    color:orangered
  }

  .darkOrange {
    color:chocolate
  }

  .darkRed {
    color:maroon
  }

@font-face {
  font-family: ("Exodus Sharpened")
  src: local("..problem-set-3/styles/fonts/Exodus-PersonalUse-Sharpen.woff) format("woff");
}
