* {
  color: #5892ef;
}

background {
  background-color: lavender
}

a[href*="ucvts"] {
  font-style: italic
}


a[jref*="nephobiology"] {
  font-style: bold;
}

h1, h4, h5 {
  font-family: 'Chakra Petch';
  text-decoration: underline;
}

p {
  font: arial;
  font-family: sans-serif;
}

p:first-of-type {
  font-style: oblique;
}

p:last-of-type {
  font-style: italic
}

#onlyImage2 {
  max-width: 100%;
  height: auto;
}

a:hover {
  color: red;
}

body {
  font-weight: bold;
  font-size: 12pt
}


hr {
    border: none;
    border-top: 3px double deepskyblue;
    color: deepskyblue;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    background: #fff;
    content: '☁';
    padding: 8px;
    position: relative;
    top: -13px;
}

img {
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
