background {
  background-color: lavender;
}

p {

}

body {
}

h1 {
  font-family: "Exodus-Sharpened"
}

hr {
    border: none;
    border-top: 3px double deepskyblue;
    color: deepskyblue;
    overflow: visible;
    text-align: center;
    height: 5px;
    background-color: dimgray;
}

hr:after {
    background: #fff;
    content: '☁';
    padding: 8px;
    position: relative;
    top: -13px;
}

@font-face {
  font-family: ("Exodus Sharpened")
  src: local("..problem-set-3/styles/fonts/Exodus-PersonalUse-Sharpen.woff) format("woff");
}
