* {
  color: #6666ff;
}

background {
  background-color: dimgray;
}

nav {
  background-color: #2764b2
  border: 50
}
nav:hover{

}
p {

}

body {
}

h1 {
  font-family: "Chakra Petch"
}

hr {
    border: none;
    border-top: 3px double deepskyblue;
    color: deepskyblue;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    background: #fff;
    content: '☁';
    padding: 8px;
    position: relative;
    top: -13px;
}

img {
  border-radius: 10px
}
td < tbody {
  font-family: 'Chakra Petch'
}

a:visited {
  color:
}
table, th, td {
  border: 5px double deepskyblue}

  .Green {
    color:lime
  }

  .lightGreen {
    color:greenyellow
  }

  .Yellow {
    color: #e5e500
  }

  .Orange {
    color:orangered
  }

  .darkOrange {
    color:chocolate
  }

  .darkRed {
    color:maroon
  }

@font-face {
  font-family: ("Exodus Sharpened")
  src: local("..problem-set-3/styles/fonts/Exodus-PersonalUse-Sharpen.woff) format("woff");
}
