* {
  color: #6666ff;
}

html {
  background-color: PaleTurquoise;
}

a[href*="ucvts"] {
  font-style: italic;
}

a[href*="behaviour"] {
  font-style: oblique;
}

a[href*="nephobiology"] {
  font-style: bold;
}

#onlyImage1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;
  max-width: 100%;
}

a:hover {
  color: crimson;
}

h1, h4, h5 {
  font-family: 'Chakra Petch';
  text-decoration: underline;
  text-align: center;
}

p {
  font: arial;
  font-family: sans-serif;
}

p:first-of-type {
  font-style: oblique;
}

p:last-of-type {
  font-style: italic
}

body {
  font-weight: bold;
  font-size: 12pt
}

hr {
    border: none;
    border-top: 3px double deepskyblue;
    color: #004040;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    background: paleturquoise;
    content: '☁';
    padding: 8px;
    position: relative;
    top: -13px;
}

img {
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

td < tbody {
  font-family: 'Chakra Petch'
}

a:visited {
  color:
}
table, th, td {
  border: 5px double deepskyblue}

  .Green {
    color:lime
  }

  .lightGreen {
    color:greenyellow
  }

  .Yellow {
    color: #e5e500
  }

  .Orange {
    color:orangered
  }

  .darkOrange {
    color:chocolate
  }

  .darkRed {
    color:maroon
  }

  .footer {
    text-align: center;
  }
